<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ERP</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body style="margin: 0px; background-color: #f9f9f9" bgColor=#f9f9f9 leftMargin=0 topMargin=0 marginwidth="0" marginheight="0">
    @RenderBody()
</body>
</html>

