@using Entities.Entity.Table;

@model Usuario

<table cellSpacing=0 cellPadding=0 width="100%" height="500px" bgColor=#17446f border=0>
    <tbody>
        <tr>
            <td>
                <table cellSpacing=0 cellPadding=10 width=680 align=center bgColor=#ffffff border=0>
                    <tbody>
                        <tr>
                            <td width=40 align="left">
                                <img src="https://www.erp.com.br/assets/logop.png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-family: Verdana; text-align:center">Olá,  @Model.Nome</h2>
                                <h3 style="font-family: Verdana; text-align:center">Resetar senha</h3>
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td>
                                <p style="font-family: Verdana; font-size:12px; color:#454545">Sua senha foi resetada. Em seu próximo acesso, você será orientado a cadastrar uma nova senha.</p>
                                <p style="font-family: Verdana; font-size:12px; color:#454545">
                                    Para acessar o sistema, digite em seu navegador o endereço https://www.erp.com.br ou <a href="https://www.erp.com.br">clique aqui</a>.
                                </p>

                                <p style="font-family: Verdana; font-size:12px; color:#454545; text-align: center; margin: 40px; border: 1px solid #ddd; padding: 15px; background-color: #17446f;">
                                    <strong>Dados de acesso</strong> <br><br>

                                    <strong>Usuário: </strong> @Model.Email <br>
                                    <strong>Senha: </strong> erp
                                </p>
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td bgColor=#ff7600>
                                <table cellSpacing=0 cellPadding=0 width=600 align=center border=0>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 10px; font-family: Arial, sans-serif; color: #ffffff; padding-bottom: 15px; text-align: center; padding-top: 0px; padding-left: 0px; line-height: 25px; padding-right: 0px">
                                                Este é um e-mail automático, por favor, não responda.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>